.tableGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 5px;
}

.innertable{
    display: flex;
}

.tableGrid button{
    border: none;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

.parentTable{
    margin: 20px;
}

.indextable{
    padding: 40px;
    text-align: center;
}

.header{
   display: flex;
   width: 100%;
    margin:20px;
   
    z-index: 3;
    
}

.loginuser{
    flex: 1;
    z-index: 2;
    text-align: center;
    margin: auto;
}

.title{
    flex: 10;
    font-size: x-large;
    z-index: 2;
    
  
}



.indices{
    display: block;

   
    padding: 80px;
}

.midstartpage{
  
    
}

.subindices{
    margin-top: 20px;
    padding: 40px;
    display: grid;
    grid-template-columns: auto;
}

.subindices2{
    margin-top: 20px;
    padding: 40px;
    display: grid;
    grid-template-columns: auto;
}

.indiceInfo{
    text-align: left;
    margin: auto;
}

.indiceInfo2{
    text-align: left;
    padding-right: 20px;
    margin: auto;
}

.subindiceInfo {

    display: grid;
    grid-template-columns: 0.1fr 0.1fr ;
    row-gap: 5px;
    column-gap: 10px;
    margin: auto;
    margin-top: 20px;
    
}

.subindices .subindicesChart{
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.subindices2 .subindicesChart{
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

/* .upperStartpg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.indicestitle{
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.indicestitle h1{
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    font-size: xxx-large;
}



.timedetails{
    text-align: center;
  }

  .startpglay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .topSearchSec{
    
  }

  .startpgpic{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
  }

  .startpage .search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
  }

  .subSearch{
    display: flex;
  }

  .startpgpic img{
    display: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
  }

  .buisnessNews{
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    row-gap: 40px;
  }

  .news{
    padding: 80px;
  }

  .scrolling-line-container {
    text-align: end;
    width: 100%;
    height: 30px;
    color: black;
    overflow: hidden;
    position: absolute;
    top: 0;
    margin-top: 80px;
    z-index: 9999;
    opacity: 0; /* Start with opacity set to 0 */
    animation: fadeInOut 70s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(10px);
  }
  
  .scrolling-line {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 70s linear infinite;
  }

  .scrolling-align{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .scrolling-line-container2 {
    text-align: end;
    width: 100%;
    height: 30px;
    color: black;
    
    overflow: hidden;
    position: absolute;
    top: 0;
    margin-top: 115px;
    z-index: 9999;
    opacity: 0; /* Start with opacity set to 0 */
    animation: fadeInOut 70s ease-in-out infinite;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(10px);
  }
  
  .scrolling-line2 {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText2 70s linear infinite;
  }

  .scrolling-align2{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .api-data-container {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(25%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scrollText2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(25%);
    }
  }

  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @media screen and (max-width:1400px) {
    .buisnessNews{
        padding: 60px;
        display: grid;
        grid-template-columns: auto auto   ;
        row-gap: 40px;
      }
  }

  @media screen and (max-width:1000px) {
    .buisnessNews{
        padding: 60px;
        display: grid;
        grid-template-columns: auto ;
        row-gap: 40px;
      }
  }

  @media screen and (max-width:420px) {

    .news{
        padding: 0px;
      }

    .buisnessNews{
        padding: 0px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: auto ;
        row-gap: 20px;
      }

      
    
      .startpgpic img{
        display: flex;
        width: 100%;
        height: 100vh;
        
        object-fit: cover;
        z-index: 1;
      }

     .indices{
      padding: 0px;
     }

      .search{
        display: absolute;
      }
    
  }

  